{% extends 'layout.html' %}

{% block title %}
    Page Analyzer
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5">
        <h1 class="display-3">Page Analyzer</h1>
        <p class="lead">Check sites for SEO suitability</p>
        <form action="/urls " method="post" class="d-flex justify-content-center" required="">
            <input type="text" name="url" placeholder="https://www.example.com" value="" class="form-control form-control-lg">
            <input type="submit" class="btn btn-primary btn-lg ms-3 px-5 text-uppercase mx-3" value="Check">
        </form>
    </div>
</div>
{% endblock %}
